{% include base_path %}
<meta charset="utf-8">
{% include seo.html %}
<link href="{% if site.atom_feed.path %}{{ site.atom_feed.path }}{% else %}{{ base_path }}/feed.xml{% endif %}" type="application/atom+xml" rel="alternate" title="{{ site.title }} Feed">
<!-- http://t.co/dKP3o1e -->
<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script>
  document.documentElement.className = document.documentElement.className.replace(/\bno-js\b/g, '') + ' js ';
</script>
<!-- For all browsers -->
<link rel="stylesheet" href="{{ base_path }}/assets/css/main.css">
{% if page.stylesheets %}
  {% for stylesheet in page.stylesheets %}
    <link rel="stylesheet" href="{{ stylesheet | prepend: base_path }}">
  {% endfor %}
{% endif %}
<meta http-equiv="cleartype" content="on">
<style>
.page__footer-follow {
    display: none !important;
}
.page__footer-copyright {
    display: none !important;
}
.page__footer {
    display: none !important;
    padding: 0 !important;
    margin: 0 !important;
}

/* 针对archive布局(Blog分页页)取消 sticky！这就是元凶 */
.layout-archive .page__sidebar {
    position: static !important;
}

.sidebar__inner {
    overflow-y: visible !important;
    max-height: unset !important;
    height: auto !important;
}
.page__sidebar-wrap {
    overflow-y: visible !important;
    max-height: unset !important;
    height: auto !important;
}

.layout-archive .page__sidebar-wrap {
    height: auto !important;
    max-height: unset !important;
    overflow: visible !important;
}
.layout-archive #main {
  align-items: flex-start !important;
}

/* 隐藏滚动条 */
.sidebar__inner::-webkit-scrollbar,
.page__sidebar-wrap::-webkit-scrollbar{
    display: none !important;
}
.sidebar__inner,.page__sidebar-wrap{
    scrollbar-width: none !important;
    -ms-overflow-style: none !important;
}
</style>

